@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;

}



body {
    overflow-x: hidden;
}

.hero {
  width: 100%;
  height: 60%;
  min-height: 550px;
  background: rgb(0,166,255);
  background: linear-gradient(180deg, rgba(0,166,255,1) 0%, rgba(0,117,255,1) 100%);
}

.logot {
  width: 590px;
  padding: 17%;
  padding-top: 17%;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding-bottom: 20px;
}

.header2 {
  color: white;
  font-size: 22px;
  padding-top: 0 !important;
  
  padding-left: 17%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  width: 100%;
}

.header3 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-top: 0 !important;
  
  padding-left: 17%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  width: 100%;

}

.getstarted {
  width: 180px;
  color: white;
  background-color: #004ba0;
  margin-left: 33%;
  margin-top: 60px;
  text-align: center;
  padding: 13px;
  border-radius: 25px;
  font-family: "Maven Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  transition: .3s;
}

.getstarted:hover {
    opacity: .5;
    transition: .3s;
}

.memphis {
  width: 680px;
  display: block;
    margin-right: 40px;
}

.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00a6ff;
  overflow: hidden;
  align-items: center;
  text-align: center;
  padding: 32px;

}

.centered {
    margin-right: -40px !important;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 34px 22px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
  font-family: "Maven Pro", sans-serif;
  transition: 0.3s;
}


.topnav a:hover {
    opacity: .5;
}

/* Change the color of links on hover */
.topnav a:hover {
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.459);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.spann {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.login {
    font-size: 17px !important;
    font-weight: 700;
    background-color: #ffffff;
    color: rgba(0,166,255,1) !important;
    border-radius: 20px;
    padding: 10px 30px !important;
    margin-right: 80px;
    margin-left: 20px;
    float: right;
    margin-top: -29px;
    position: relative;
}

.login:hover {
    opacity: .5;
    color:white !important;
    background-color: black !important;

}

.parentabt {
    margin-top: -120px !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 77%;
    margin:auto;
    height: 50px; 
    padding-top: 50px;

    }
    
    .div1abt { grid-area: 1 / 1 / 2 / 2;     border-left: solid rgb(180, 180, 180) 1px; border-right: solid rgb(180, 180, 180) 1px;}
    .div2abt { grid-area: 1 / 2 / 2 / 3; border-right: solid rgb(180, 180, 180) 1px;}
    .div3abt { grid-area: 1 / 3 / 2 / 4; border-right: solid rgb(180, 180, 180) 1px;}
    .div4abt { grid-area: 2 / 1 / 5 / 3; padding-top: 40px;}
    .div5abt { grid-area: 2 / 3 / 5 / 4;  }


.boltlogo {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}



.mlogo {
    width: 220px;
    margin-top: 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.vlogo {
    width: 130px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutsection {
    min-height: 800px;
}

.headerone {
    font-family: "Maven Pro", sans-serif;
    color:rgb(29, 29, 29);
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
    margin-top: 80px;
    letter-spacing: -2px;
}

.peter {
    margin-top: 20px;
    font-size: 17px;
    font-family: "Maven Pro", sans-serif;
    padding: 10px;
    line-height: 25px;
    padding-right: 90px;
}
.peter2 {
  padding-Left: 50px !important;
  padding-Right: 50px;
  margin-Top: -20px;
}

.peter3 {
  text-align: center;
  padding-Right: 50px;
  margin-Top: -10px !important;
}


.rsp {
    overflow: hidden !important;
    margin-top: 80px;
    margin-left: -10%;
    width: 690px;
    float:right;
    right:0;
    position:absolute;
}




.contentblock {

    width: 100%;
    height: 700px;
    background-color: rgb(245, 245, 245);
    margin: auto;

}.contentblock2 {
    width: 100%;
    height: 100px;
    background-color: rgba(0,117,255,1);
    margin: auto;
    position: relative;
}



.parenttt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
    grid-row-gap: 0px;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    height: 400px;
    }
    
    .div1tt { grid-area: 1 / 1 / 2 / 2; background-color: rgb(238, 238, 238); border-radius: 15px;}
    .div2tt { grid-area: 1 / 2 / 2 / 3; background-color: rgb(238, 238, 238); border-radius: 15px;}
    .div3tt { grid-area: 1 / 3 / 2 / 4; background-color: rgb(238, 238, 238); border-radius: 15px;}
    .div4tt { grid-area: 1 / 4 / 2 / 5; background-color: rgb(238, 238, 238); border-radius: 15px;}


    .stew {
        width: 170px;
        left:0;
        right:0;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    

.footerlogo {
    width: 150px;
    margin:auto;
    display: block;
    left:0;
    right:0;
    position: absolute;
    bottom:0;
    padding: 20px;
}

.parentb {
    margin-top: -120px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 70%;
    margin:auto;
    height: 50px; 

    }

    .div1b { grid-area: 1 / 1 / 2 / 2;     border-left: solid rgb(180, 180, 180) 1px; border-right: solid rgb(180, 180, 180) 1px;}
    .div2b { grid-area: 1 / 2 / 2 / 3; border-right: solid rgb(180, 180, 180) 1px;}

    .contentblockb {
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        margin: auto;
        position: relative;
        margin-top: 800px;
        padding-bottom: 190px;;
    }


    .down-arrow {
        position: absolute;
        top: calc(95vh - 30px);
        left: calc(50% - 19px);
        width: 0;
        color:rgba(0,166,255,1);
        height: 30px;
        border: 2px solid;
        border-radius: 2px;
        animation: jumpInfinite 1.5s infinite;
        z-index: 100;
      }
      
      .down-arrow:after {
        content: " ";
        position: absolute;
        top: 12px;
        left: -8px;
        width: 16px;
        height: 16px;
        border-bottom: 4px solid rgba(0,166,255,1);
        border-right: 4px solid rgba(0,166,255,1);
        border-radius: 4px;
        transform: rotateZ(45deg);
      }

      @keyframes jumpInfinite {
        0% {
          margin-top: 0;
        }
        50% {
          margin-top: 20px;
        }
        100% {
          margin-top: 0;
        }
      }

      .peter4 {
        width: 100%;
        padding: 15px !important;
        font-size: 13px;
        padding-bottom: "50px";

      }

      .header5 {
        padding: 0px !important;
        text-align: center;
        margin-top: 10px;
        color:rgb(26, 26, 26);
      }

      .header6 {
        padding: 0px !important;
        text-align: center;
        margin-top: 0px;
        color:rgb(26, 26, 26);
        font-weight: 500;
        color: rgb(56, 56, 56);
      }